.order-table{   
  border-collapse:collapse;
}
 
.order-table-header{
  text-align:center;
  background:none repeat scroll 0 0 #E5E5E5;
  border-bottom:1px solid #BBBBBB;
  padding:16px;
}
 
.order-table-odd-row{
  text-align:left;
  background:none repeat scroll 0 0 #FFFFFFF;
  border-top:1px solid #BBBBBB;
}
 
.order-table-even-row{
  text-align:left;
  background:none repeat scroll 0 0 #F9F9F9;
  border-top:1px solid #BBBBBB;
}

.displayName-text {
    display: block;
    overflow: auto;
    width: 480px;
}


.exception-text {
    display: block;
    overflow: auto;
    color: red;
    max-width: 500px;   
}

td .status {
    display: block;
}

.status.OK {
    background-color: LightGreen;
}

.status.Error {
    background-color: LightSalmon;
}

.status.Failure {
    background-color: LightSalmon;
}

.status.Ignored {
    background-color: white;
}